<div>
	<h4 class="mb-4">User Group</h4>
	<p class="mb-4">User Group management screen allows administrators to create and manage groups that aggregate users under common labels or roles, enabling efficient permission and access control.</p>
	<div class="row">
		<div class="col-md-4">
			<div class="mb-3">
				<div>
					<input type="text" class="form-control" [(ngModel)]="userGroupSearchKeyword" id="defaultFormControlInput" placeholder="User Group" aria-describedby="defaultFormControlHelp" />
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="button-container">
				<button class="btn btn-primary mb-2 text-nowrap add-new-role waves-effect waves-light" (click)="getUserGroupList()">Filter</button>
				<button class="btn btn-primary mb-2 text-nowrap add-new-role waves-effect waves-light" (click)="clearUserGroupList()">Clear</button>
			</div>
		</div>
	</div>
	<!-- Role cards -->
	<div class="row g-4">
		<div class="col-xl-4 col-lg-6 col-md-6">
			<div class="card h-100">
				<div class="row h-100">
					<div class="col-sm-5">
						<div class="d-flex align-items-end h-100 justify-content-center mt-sm-0 mt-3">
							<img src="assets/img/illustrations/add-new-roles.png" class="img-fluid mt-sm-4 mt-md-0" alt="add-new-roles" width="83" />
						</div>
					</div>
					<div class="col-sm-7">
						<div class="card-body text-sm-end text-center ps-sm-0">
							<button (click)="newUserGroupWithMapping()" class="btn btn-primary mb-2 text-nowrap add-new-role waves-effect waves-light">Create</button>
							<p class="mb-0 mt-1">Add role, if it does not exist</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		@for (item of userGroupList; track item.Id) {
		<div class="col-xl-4 col-lg-6 col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<h6 class="fw-normal mb-2">Total {{ item.UserAccountCount }} users</h6>
						<a href="javascript:void(0);" class="text-muted"><i class="ti ti-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove" (click)="removeUserGroup(item.Id)"></i></a>
					</div>
					<div class="d-flex justify-content-between align-items-end mt-1">
						<div class="role-heading">
							<h4 class="mb-1">{{ item.Name }}</h4>
							<a (click)="getUserGroupMappingListForUpdating(item.Id, item.Name)" class="role-edit-modal"><span>Edit Role</span></a>
						</div>
						<a (click)="getUserGroupForCloning(item.Id)" class="text-muted"><i class="ti ti-copy ti-md" data-bs-toggle="tooltip" data-bs-placement="top" title="Clone"></i></a>
					</div>
				</div>
			</div>
		</div>
		}
	</div>
</div>

<!-- Add Role Modal -->
<div class="modal fade" id="user-group-permission-modify" tabindex="-1" aria-hidden="true" #userGroupModal>
	<div class="modal-dialog modal-lg modal-dialog-centered modal-add-new-role">
		<div class="modal-content p-3 p-md-5">
			<button type="button" class="btn-close btn-pinned" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-body">
				<div class="text-center mb-4">
					<h3 class="role-title mb-2">{{ userGroupFormMode }} User Group</h3>
					<p class="text-muted">Set Group Permissions</p>
				</div>
				<!-- Add role form -->
				<form id="addRoleForm" class="row g-3" onsubmit="return false">
					<div class="col-12 mb-4">
						<label class="form-label" for="modalRoleName">UserGroup Name</label>
						<input type="text" id="modalRoleName" name="modalRoleName" class="form-control" placeholder="Enter a role name" [(ngModel)]="userGroupName" tabindex="-1" />
					</div>
					<div class="col-12">
						<!-- <h5>Role Permissions</h5> -->
						<!-- Permission table -->
						<app-permission-list [userPermissionList]="userPermissionList"></app-permission-list>
						<!-- Permission table -->
					</div>
					<div class="col-12 text-center mt-4">
						<button type="button" (click)="modifyUserGroup()" class="btn btn-primary me-sm-3 me-1">{{ userGroupFormMode }}</button>
						<button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
					</div>
				</form>
				<!--/ Add role form -->
			</div>
		</div>
	</div>
</div>
<!--/ Add Role Modal -->
