<div>
    <h4 class="mb-4">Massage Management</h4>
    <p class="mb-4">This screen allows administrators to efficiently create and manage massage services, including pricing, duration, and detailed descriptions.</p>
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3">
                <div>
                    <input type="text" class="form-control" id="defaultFormControlInput" [(ngModel)]="searchKeyword"
                        placeholder="Search massages..." aria-describedby="defaultFormControlHelp" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="button-container">
                <button class="btn btn-primary mb-2 text-nowrap add-new-role waves-effect waves-light"
                    (click)="getMassageList()">Filter</button>
                <button class="btn btn-primary mb-2 text-nowrap add-new-role waves-effect waves-light"
                    (click)="clearMassageListFilter()">Clear</button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="button-container btn-float-right">
                <button class="btn btn-primary mb-2 text-nowrap add-new-role waves-effect waves-light" (click)="startCreateMassageProcess()">Create</button>
            </div>
        </div>
    </div>
    <div class="card">
        <p-table [value]="massageList" [lazy]="true" styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Duration</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-massage>
                <tr>
                    <td>{{ massage.Id }}</td>
                    <td>{{ massage.Name }}</td>
                    <td>{{ massage.Type | massageType }}</td>
                    <td>{{ massage.Price | price }}</td>
                    <td>{{ massage.Duration }}</td>
                    <td>
                        <a class="btn btn-sm btn-icon item-edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Update"><i (click)="startUpdateMassageProcess(massage.Id)" class="text-primary ti ti-pencil"></i></a>
						<a class="btn btn-sm btn-icon item-edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove" (click)="removeMassage(massage.Id)"><i class="ti ti-trash btn-text"></i></a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<app-add-edit-massage [massageModeText]="massageModeText" #massageAddEdit
    [refresMassageList]="getMassageListFromChild" [massageId]="selectedMassageId"></app-add-edit-massage>