<div class="authentication-wrapper authentication-cover authentication-bg">
	<div class="authentication-inner row">
		<!-- /Left Text -->
		<div class="d-none d-lg-flex col-lg-7 p-0">
			<div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
				<img src="assets/img/illustrations/auth-login-illustration-light.png" alt="auth-login-cover" class="img-fluid my-5 auth-illustration" data-app-light-img="illustrations/auth-login-illustration-light.png" data-app-dark-img="illustrations/auth-login-illustration-dark.png" />

				<img src="assets/img/illustrations/bg-shape-image-light.png" alt="auth-login-cover" class="platform-bg" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png" />
			</div>
		</div>
		<!-- /Left Text -->
		<!-- Login -->
		<div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
			<div class="w-px-400 mx-auto">
				<!-- Logo -->
				<div class="app-brand mb-4">
					<a href="index.html" class="app-brand-link gap-2">
						<img src="assets/img/logo.png" style="margin-left: -4%;height: 58px;" class="app-brand-logo" alt="CalmCove Logo" />
					</a>
				</div>
				<!-- /Logo -->
				<h3 class="mb-1">Welcome to CalmCove! 👋</h3>
				<p class="mb-4">Please sign-in to your account and start the adventure</p>
				<form id="formAuthentication" class="mb-3" [formGroup]="loginFormGroup">
					<div class="mb-3">
						<label for="email" class="form-label">Email or Mobile</label>
						<input type="text" formControlName="UserName" class="form-control" id="email" name="email-username" placeholder="Enter your email or phone" autofocus />
					</div>
					<div class="mb-3 form-password-toggle">
						<div class="d-flex justify-content-between">
							<label class="form-label" for="password">Password</label>
						</div>
						<div class="input-group input-group-merge">
							<input formControlName="Password" type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
							<span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
						</div>
					</div>
					<button class="btn btn-primary d-grid w-100" type="button" (click)="startLoginProcess()">Sign in</button>
				</form>
			</div>
		</div>
		<!-- /Login -->
	</div>
</div>
