@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* Overriding PrimeNg Style */
.p-component {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
}

.p-multiselect-override {
    width: 100%;
    line-height: .9;
}

.p-multiselect-panel .p-multiselect-items {
    padding: 0.75rem 0;
}

/* Overriding PrimeNg Style */