<div class="modal fade" id="promotion-item-list-modal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="btn-close btn-pinned" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
			<div class="modal-body">
				<div class="text-center mb-4">
					<h3 class="role-title mb-2">Promotion Items</h3>
					<p class="text-muted">Items included in this promotion</p>
                    <p *ngIf="promotionType === 1"><b>Coupon: {{ promotionCoupon == null || promotionCoupon == '' ? 'No Coupon' : promotionCoupon }}</b></p>
				</div>
				<div class="mt-4 p-2 border rounded">
					<div class="row text-center">
						<div class="col-md-4">
							<p class="text-muted mb-1">Total Count</p>
							<h5 class="mb-0">{{ promotionItemList.length || 0 }}</h5>
						</div>
						<div class="col-md-4">
							<p class="text-muted mb-1">Used Count</p>
							<h5 class="mb-0 text-success">{{ getUsedCount() }}</h5>
						</div>
						<div class="col-md-4">
							<p class="text-muted mb-1">Balance Count</p>
							<h5 class="mb-0 text-warning">{{ getBalanceCount() }}</h5>
						</div>
					</div>
				</div>
				<p-table [value]="promotionItemList" styleClass="p-datatable-striped">
					<ng-template pTemplate="header">
						<tr *ngIf="promotionType === 1">
							<th>S.N</th>
							<th>Applied Status</th>
						</tr>
						<tr *ngIf="promotionType !== 1">
							<th>S.N</th>
							<th>Coupon</th>
							<th>Applied Status</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
						<tr *ngIf="promotionType === 1">
							<td>{{ rowIndex + 1 }}</td>
							<td><span [ngClass]="item.AppliedDate ? 'status-used' : 'status-not-used'">{{ item.AppliedDate ? 'Applied by ' + item.AppliedCustomerAccount.FirstName + ' on ' + (item.AppliedDate | utcToLocal:'short') : 'Not Applied' }}</span></td>
						</tr>
						<tr *ngIf="promotionType !== 1">
							<td>{{ rowIndex + 1 }}</td>
							<td><span [innerHTML]="highlightKeyword(item.Coupon)"></span></td>
							<td><span [ngClass]="item.AppliedDate  ? 'status-used' : 'status-not-used'">{{ item.AppliedDate ? 'Applied by ' + item.AppliedCustomerAccount.FirstName + ' on ' + (item.AppliedDate | utcToLocal:'short') : 'Not Applied' }}</span></td>
						</tr>
					</ng-template>
				</p-table>
				<div class="col-12 text-center mt-4">
					<button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
