a {
    cursor: pointer;
}

.scrollable-div::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

.scrollable-div::-webkit-scrollbar-track {
    background: #f3f3f3;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.side-menu-overflow {
    overflow-y: auto;
    overflow-x: hidden;
}