<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme"
	(mouseover)="handleSideNavMouseOver($event)" (mouseout)="handleSideNavMouseOut($event)">
	<div class="app-brand demo">
		<a href="index.html" class="app-brand-link">
			<span class="app-brand-logo demo" style="width: 38px;height: 38px;">
				<img style="height: 38px;" src="assets/img/logo-icon.png" />
			</span>
			<span class="app-brand-text demo menu-text fw-bold"><img style="height: 30px;margin-left: -3%;"
					src="assets/img/logo-name.png" /></span>
		</a>
		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
			<i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle" onclick="toggleNavigation()"></i>
			<i class="ti ti-x d-block d-xl-none ti-sm align-middle" (click)="closeSideNavMenu()"></i>
		</a>
	</div>
	<div class="menu-inner-shadow"></div>
	<ul class="menu-inner py-1 side-menu-overflow scrollable-div">
		@for (item of menuItems; track item) { @if(item.Container != ""){
		<li class="menu-header small text-uppercase">
			<span class="menu-header-text" data-i18n="Apps &amp; Pages">{{ item.Container }}</span>
		</li>
		} @for(menu of item.Links; track menu.Id) { @if(!menu.HaveSubMenu){
		<li class="menu-item" routerLinkActive="active">
			<a routerLink="{{ menu.Route }}" class="menu-link">
				<i class="menu-icon {{ menu.Icon }}"></i>
				<div data-i18n="Page 1">{{ menu.Name }}</div>
			</a>
		</li>
		} @else{
		<li class="menu-item" id="drop-down-item-{{ menu.Id }}">
			<a class="menu-link menu-toggle" (click)="toggleDropDownNavigation(menu.Id)">
				<i class="menu-icon {{ menu.Icon }}"></i>
				<div>{{ menu.Name }}</div>
			</a>
			<ul class="menu-sub">
				@for (subMenu of menu.Links; track subMenu) {
				<li class="menu-item" routerLinkActive="active">
					<a routerLink="{{ subMenu.Route }}" class="menu-link">
						<div>{{ subMenu.Name }}</div>
					</a>
				</li>
				}
			</ul>
		</li>
		} } }
	</ul>
	{{currentUrl}}
</aside>